<?php

defined('DEBUG') || define('DEBUG', %DEBUG_TEMPLATE%);
require '%UniversalClassLoaderPath%';
require '%WorkerFilePath%';

$worker = new %ProjectWorkerClassName%(new PHPHadoop\Jobs\Application());
$worker->handle();
